

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;


CREATE SCHEMA IF NOT EXISTS "public";


ALTER SCHEMA "public" OWNER TO "pg_database_owner";


COMMENT ON SCHEMA "public" IS 'standard public schema';



CREATE OR REPLACE FUNCTION "public"."get_auth_user_team_ids"() RETURNS SETOF "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT team_id FROM public.team_members WHERE profile_id = auth.uid();
$$;


ALTER FUNCTION "public"."get_auth_user_team_ids"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_auth_user_teams"() RETURNS SETOF "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT team_id
  FROM team_members
  WHERE profile_id = auth.uid()
$$;


ALTER FUNCTION "public"."get_auth_user_teams"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."get_my_teams"() RETURNS SETOF "uuid"
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT team_id FROM public.team_members WHERE profile_id = auth.uid();
$$;


ALTER FUNCTION "public"."get_my_teams"() OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."has_pending_invite"("check_team_id" "uuid") RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.team_invites 
    WHERE team_id = check_team_id 
    AND email = auth.email() 
    AND status = 'pending'
  );
$$;


ALTER FUNCTION "public"."has_pending_invite"("check_team_id" "uuid") OWNER TO "postgres";


CREATE OR REPLACE FUNCTION "public"."is_team_owner"("check_team_id" "uuid") RETURNS boolean
    LANGUAGE "sql" STABLE SECURITY DEFINER
    SET "search_path" TO 'public'
    AS $$
  SELECT EXISTS (
    SELECT 1 FROM public.teams 
    WHERE id = check_team_id 
    AND created_by = auth.uid()
  );
$$;


ALTER FUNCTION "public"."is_team_owner"("check_team_id" "uuid") OWNER TO "postgres";

SET default_tablespace = '';

SET default_table_access_method = "heap";


CREATE TABLE IF NOT EXISTS "public"."budget_categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "team_id" "uuid" NOT NULL,
    "name" "text" NOT NULL,
    "percentage" numeric(5,2) DEFAULT 0.0 NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."budget_categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."budgets" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "month" integer NOT NULL,
    "year" integer NOT NULL,
    "total_income" numeric(10,2) DEFAULT 0 NOT NULL,
    "team_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "budgets_month_check" CHECK ((("month" >= 1) AND ("month" <= 12)))
);


ALTER TABLE "public"."budgets" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."categories" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "team_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "budget_category_id" "uuid" NOT NULL
);


ALTER TABLE "public"."categories" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."expenses" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "amount" numeric(10,2) NOT NULL,
    "description" "text",
    "date" "date" NOT NULL,
    "category_id" "uuid",
    "team_id" "uuid",
    "user_id" "uuid",
    "receipt_url" "text",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "is_recurring" boolean DEFAULT false,
    "recurrence_type" character varying(20) DEFAULT NULL::character varying,
    "is_installment" boolean DEFAULT false,
    "installment_number" integer,
    "total_installments" integer,
    "installment_value" numeric(10,2) DEFAULT NULL::numeric,
    "parent_expense_id" "uuid",
    CONSTRAINT "expenses_recurrence_type_check" CHECK ((("recurrence_type")::"text" = ANY ((ARRAY['monthly'::character varying, 'weekly'::character varying, 'yearly'::character varying])::"text"[])))
);


ALTER TABLE "public"."expenses" OWNER TO "postgres";


COMMENT ON COLUMN "public"."expenses"."is_recurring" IS 'Indica se o gasto ├® recorrente';



COMMENT ON COLUMN "public"."expenses"."recurrence_type" IS 'Tipo de recorr├¬ncia: monthly, weekly, yearly';



COMMENT ON COLUMN "public"."expenses"."is_installment" IS 'Indica se o gasto ├® parcelado';



COMMENT ON COLUMN "public"."expenses"."installment_number" IS 'N├║mero da parcela atual';



COMMENT ON COLUMN "public"."expenses"."total_installments" IS 'Total de parcelas';



COMMENT ON COLUMN "public"."expenses"."installment_value" IS 'Valor de cada parcela';



COMMENT ON COLUMN "public"."expenses"."parent_expense_id" IS 'ID do gasto pai (para parcelas)';



CREATE TABLE IF NOT EXISTS "public"."incomes" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "amount" numeric(10,2) DEFAULT 0 NOT NULL,
    "description" "text",
    "type" "text" NOT NULL,
    "frequency" "text",
    "date" "date" NOT NULL,
    "team_id" "uuid",
    "user_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "incomes_frequency_check" CHECK ((("frequency" = ANY (ARRAY['monthly'::"text", 'weekly'::"text", 'yearly'::"text"])) OR ("frequency" IS NULL))),
    CONSTRAINT "incomes_type_check" CHECK (("type" = ANY (ARRAY['recurring'::"text", 'one_time'::"text"])))
);


ALTER TABLE "public"."incomes" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."investments" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "type" "text" NOT NULL,
    "initial_amount" numeric(10,2) NOT NULL,
    "current_amount" numeric(10,2) NOT NULL,
    "monthly_contribution" numeric(10,2) DEFAULT 0,
    "annual_return_rate" numeric(5,2) NOT NULL,
    "start_date" "date" NOT NULL,
    "team_id" "uuid",
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    CONSTRAINT "investments_type_check" CHECK (("type" = ANY (ARRAY['savings'::"text", 'stocks'::"text", 'bonds'::"text", 'real_estate'::"text", 'crypto'::"text", 'other'::"text"])))
);


ALTER TABLE "public"."investments" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."profiles" (
    "id" "uuid" NOT NULL,
    "email" "text" NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."profiles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."rate_limits" (
    "team_id" "uuid" NOT NULL,
    "count" integer DEFAULT 0 NOT NULL,
    "window_start" timestamp with time zone DEFAULT "now"() NOT NULL
);


ALTER TABLE "public"."rate_limits" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."subscriptions" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "team_id" "uuid" NOT NULL,
    "external_id" "text" NOT NULL,
    "external_customer_id" "text" NOT NULL,
    "gateway_id" "text" NOT NULL,
    "status" "text" NOT NULL,
    "plan_id" "text",
    "current_period_end" timestamp with time zone,
    "created_at" timestamp with time zone DEFAULT "now"(),
    "updated_at" timestamp with time zone DEFAULT "now"(),
    "cancel_at_period_end" boolean DEFAULT false
);


ALTER TABLE "public"."subscriptions" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."team_invites" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "email" "text" NOT NULL,
    "team_id" "uuid",
    "invited_by" "uuid",
    "status" "text" DEFAULT 'pending'::"text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "role_id" "uuid",
    CONSTRAINT "family_invites_status_check" CHECK (("status" = ANY (ARRAY['pending'::"text", 'accepted'::"text", 'declined'::"text"])))
);


ALTER TABLE "public"."team_invites" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."team_members" (
    "profile_id" "uuid" NOT NULL,
    "team_id" "uuid" NOT NULL,
    "role_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."team_members" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."team_roles" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" character varying(100) NOT NULL,
    "description" "text",
    "color" character varying(7) DEFAULT '#6b7280'::character varying NOT NULL,
    "permissions" "text"[] DEFAULT '{}'::"text"[] NOT NULL,
    "team_id" "uuid" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "updated_at" timestamp with time zone DEFAULT "now"()
);


ALTER TABLE "public"."team_roles" OWNER TO "postgres";


CREATE TABLE IF NOT EXISTS "public"."teams" (
    "id" "uuid" DEFAULT "gen_random_uuid"() NOT NULL,
    "name" "text" NOT NULL,
    "created_at" timestamp with time zone DEFAULT "now"() NOT NULL,
    "created_by" "uuid",
    "trial_ends_at" timestamp with time zone
);


ALTER TABLE "public"."teams" OWNER TO "postgres";


ALTER TABLE ONLY "public"."budget_categories"
    ADD CONSTRAINT "budget_categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."budget_categories"
    ADD CONSTRAINT "budget_categories_team_id_name_key" UNIQUE ("team_id", "name");



ALTER TABLE ONLY "public"."budgets"
    ADD CONSTRAINT "budgets_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."expenses"
    ADD CONSTRAINT "expenses_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."teams"
    ADD CONSTRAINT "families_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."team_invites"
    ADD CONSTRAINT "family_invites_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."team_roles"
    ADD CONSTRAINT "family_roles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."incomes"
    ADD CONSTRAINT "incomes_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."investments"
    ADD CONSTRAINT "investments_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."rate_limits"
    ADD CONSTRAINT "rate_limits_pkey" PRIMARY KEY ("team_id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_pkey" PRIMARY KEY ("id");



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_team_id_gateway_id_external_id_key" UNIQUE ("team_id", "gateway_id", "external_id");



ALTER TABLE ONLY "public"."team_members"
    ADD CONSTRAINT "team_members_pkey" PRIMARY KEY ("profile_id", "team_id");



ALTER TABLE ONLY "public"."team_roles"
    ADD CONSTRAINT "team_roles_id_team_id_key" UNIQUE ("id", "team_id");



ALTER TABLE ONLY "public"."budget_categories"
    ADD CONSTRAINT "unique_budget_category_name_team" UNIQUE ("team_id", "name");



ALTER TABLE ONLY "public"."budgets"
    ADD CONSTRAINT "unique_budget_per_month_team" UNIQUE ("team_id", "month", "year");



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "unique_category_name_team" UNIQUE ("team_id", "name");



CREATE INDEX "idx_budget_categories_team_id" ON "public"."budget_categories" USING "btree" ("team_id");



CREATE INDEX "idx_budgets_team_id" ON "public"."budgets" USING "btree" ("team_id");



CREATE INDEX "idx_budgets_team_period" ON "public"."budgets" USING "btree" ("team_id", "year", "month");



CREATE INDEX "idx_categories_budget_category_id" ON "public"."categories" USING "btree" ("budget_category_id");



CREATE INDEX "idx_categories_team_id" ON "public"."categories" USING "btree" ("team_id");



CREATE INDEX "idx_expenses_category_id" ON "public"."expenses" USING "btree" ("category_id");



CREATE INDEX "idx_expenses_parent_expense_id" ON "public"."expenses" USING "btree" ("parent_expense_id");



CREATE INDEX "idx_expenses_team_date" ON "public"."expenses" USING "btree" ("team_id", "date" DESC);



CREATE INDEX "idx_expenses_team_id" ON "public"."expenses" USING "btree" ("team_id");



CREATE INDEX "idx_expenses_user_id" ON "public"."expenses" USING "btree" ("user_id");



CREATE INDEX "idx_incomes_team_date" ON "public"."incomes" USING "btree" ("team_id", "date");



CREATE INDEX "idx_incomes_team_id" ON "public"."incomes" USING "btree" ("team_id");



CREATE INDEX "idx_incomes_user_id" ON "public"."incomes" USING "btree" ("user_id");



CREATE INDEX "idx_investments_team_id" ON "public"."investments" USING "btree" ("team_id");



CREATE INDEX "idx_subscriptions_external_id" ON "public"."subscriptions" USING "btree" ("external_id");



CREATE INDEX "idx_subscriptions_team_id" ON "public"."subscriptions" USING "btree" ("team_id");



CREATE INDEX "idx_team_invites_email" ON "public"."team_invites" USING "btree" ("email");



CREATE INDEX "idx_team_invites_invited_by" ON "public"."team_invites" USING "btree" ("invited_by");



CREATE INDEX "idx_team_invites_role_id" ON "public"."team_invites" USING "btree" ("role_id");



CREATE INDEX "idx_team_invites_team_id" ON "public"."team_invites" USING "btree" ("team_id");



CREATE INDEX "idx_team_members_profile_id" ON "public"."team_members" USING "btree" ("profile_id");



CREATE INDEX "idx_team_members_role_id" ON "public"."team_members" USING "btree" ("role_id");



CREATE INDEX "idx_team_members_team_id" ON "public"."team_members" USING "btree" ("team_id");



CREATE INDEX "idx_team_roles_team_id" ON "public"."team_roles" USING "btree" ("team_id");



ALTER TABLE ONLY "public"."budget_categories"
    ADD CONSTRAINT "budget_categories_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."budgets"
    ADD CONSTRAINT "budgets_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_budget_category_id_fkey" FOREIGN KEY ("budget_category_id") REFERENCES "public"."budget_categories"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."categories"
    ADD CONSTRAINT "categories_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."expenses"
    ADD CONSTRAINT "expenses_category_id_fkey" FOREIGN KEY ("category_id") REFERENCES "public"."categories"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."expenses"
    ADD CONSTRAINT "expenses_parent_expense_id_fkey" FOREIGN KEY ("parent_expense_id") REFERENCES "public"."expenses"("id");



ALTER TABLE ONLY "public"."expenses"
    ADD CONSTRAINT "expenses_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."expenses"
    ADD CONSTRAINT "expenses_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."team_members"
    ADD CONSTRAINT "fk_team_members_role_id" FOREIGN KEY ("role_id", "team_id") REFERENCES "public"."team_roles"("id", "team_id");



ALTER TABLE ONLY "public"."incomes"
    ADD CONSTRAINT "incomes_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."incomes"
    ADD CONSTRAINT "incomes_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "public"."profiles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."investments"
    ADD CONSTRAINT "investments_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."profiles"
    ADD CONSTRAINT "profiles_id_fkey" FOREIGN KEY ("id") REFERENCES "auth"."users"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."rate_limits"
    ADD CONSTRAINT "rate_limits_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."subscriptions"
    ADD CONSTRAINT "subscriptions_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."team_invites"
    ADD CONSTRAINT "team_invites_invited_by_fkey" FOREIGN KEY ("invited_by") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."team_invites"
    ADD CONSTRAINT "team_invites_role_id_fkey" FOREIGN KEY ("role_id") REFERENCES "public"."team_roles"("id") ON DELETE SET NULL;



ALTER TABLE ONLY "public"."team_invites"
    ADD CONSTRAINT "team_invites_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."team_members"
    ADD CONSTRAINT "team_members_profile_id_fkey" FOREIGN KEY ("profile_id") REFERENCES "public"."profiles"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."team_members"
    ADD CONSTRAINT "team_members_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."team_roles"
    ADD CONSTRAINT "team_roles_team_id_fkey" FOREIGN KEY ("team_id") REFERENCES "public"."teams"("id") ON DELETE CASCADE;



ALTER TABLE ONLY "public"."teams"
    ADD CONSTRAINT "teams_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "auth"."users"("id") ON DELETE SET NULL;



CREATE POLICY "Allow profile creation during signup" ON "public"."profiles" FOR INSERT WITH CHECK (true);



CREATE POLICY "Authenticated users can create teams" ON "public"."teams" FOR INSERT WITH CHECK (("auth"."uid"() IS NOT NULL));



CREATE POLICY "Creators can delete teams" ON "public"."teams" FOR DELETE USING (("created_by" = "auth"."uid"()));



CREATE POLICY "Creators can update teams" ON "public"."teams" FOR UPDATE USING (("created_by" = "auth"."uid"()));



CREATE POLICY "RLS_Delete_TeamMembers" ON "public"."team_members" FOR DELETE USING ((("profile_id" = "auth"."uid"()) OR "public"."is_team_owner"("team_id")));



CREATE POLICY "RLS_Insert_TeamMembers" ON "public"."team_members" FOR INSERT WITH CHECK (("public"."is_team_owner"("team_id") OR (("profile_id" = "auth"."uid"()) AND "public"."has_pending_invite"("team_id"))));



CREATE POLICY "RLS_Select_TeamMembers" ON "public"."team_members" FOR SELECT USING ((("profile_id" = "auth"."uid"()) OR ("team_id" IN ( SELECT "public"."get_my_teams"() AS "get_my_teams")) OR "public"."is_team_owner"("team_id")));



CREATE POLICY "RLS_Update_TeamMembers" ON "public"."team_members" FOR UPDATE USING ("public"."is_team_owner"("team_id"));



CREATE POLICY "RLS_View_Invite_Roles" ON "public"."team_roles" FOR SELECT USING ((("team_id" IN ( SELECT "public"."get_my_teams"() AS "get_my_teams")) OR "public"."has_pending_invite"("team_id")));



CREATE POLICY "RLS_View_Inviter_Profile" ON "public"."profiles" FOR SELECT USING ((("id" IN ( SELECT "team_invites"."invited_by"
   FROM "public"."team_invites"
  WHERE (("team_invites"."email" = "auth"."email"()) AND ("team_invites"."status" = 'pending'::"text")))) OR ("id" = "auth"."uid"()) OR ("id" IN ( SELECT "tm"."profile_id"
   FROM "public"."team_members" "tm"
  WHERE ("tm"."team_id" IN ( SELECT "public"."get_my_teams"() AS "get_my_teams"))))));



CREATE POLICY "Users can manage budget categories of their teams" ON "public"."budget_categories" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage budgets of their teams" ON "public"."budgets" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage categories of their teams" ON "public"."categories" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage expenses of their teams" ON "public"."expenses" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage incomes of their teams" ON "public"."incomes" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage investments of their teams" ON "public"."investments" USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))) WITH CHECK (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can manage invites for their teams or their email" ON "public"."team_invites" USING ((("email" = "auth"."email"()) OR ("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))))) WITH CHECK ((("email" = "auth"."email"()) OR ("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"())))));



CREATE POLICY "Users can manage roles" ON "public"."team_roles" USING ((("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))) OR (EXISTS ( SELECT 1
   FROM "public"."teams"
  WHERE (("teams"."id" = "team_roles"."team_id") AND ("teams"."created_by" = "auth"."uid"())))))) WITH CHECK ((("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))) OR (EXISTS ( SELECT 1
   FROM "public"."teams"
  WHERE (("teams"."id" = "team_roles"."team_id") AND ("teams"."created_by" = "auth"."uid"()))))));



CREATE POLICY "Users can update their own profile" ON "public"."profiles" FOR UPDATE USING (("id" = "auth"."uid"()));



CREATE POLICY "Users can view profiles" ON "public"."profiles" FOR SELECT USING ((("id" = "auth"."uid"()) OR ("id" IN ( SELECT "team_members"."profile_id"
   FROM "public"."team_members"
  WHERE ("team_members"."team_id" IN ( SELECT "public"."get_auth_user_team_ids"() AS "get_auth_user_team_ids"))))));



CREATE POLICY "Users can view subscriptions of their teams" ON "public"."subscriptions" FOR SELECT USING (("team_id" IN ( SELECT "team_members"."team_id"
   FROM "public"."team_members"
  WHERE ("team_members"."profile_id" = "auth"."uid"()))));



CREATE POLICY "Users can view teams" ON "public"."teams" FOR SELECT USING ((("id" IN ( SELECT "public"."get_auth_user_team_ids"() AS "get_auth_user_team_ids")) OR ("created_by" = "auth"."uid"())));



ALTER TABLE "public"."budget_categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."budgets" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."categories" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."expenses" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."incomes" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."investments" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."profiles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."subscriptions" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."team_invites" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."team_members" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."team_roles" ENABLE ROW LEVEL SECURITY;


ALTER TABLE "public"."teams" ENABLE ROW LEVEL SECURITY;


GRANT USAGE ON SCHEMA "public" TO "postgres";
GRANT USAGE ON SCHEMA "public" TO "anon";
GRANT USAGE ON SCHEMA "public" TO "authenticated";
GRANT USAGE ON SCHEMA "public" TO "service_role";



GRANT ALL ON FUNCTION "public"."get_auth_user_team_ids"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_auth_user_team_ids"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_auth_user_team_ids"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_auth_user_teams"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_auth_user_teams"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_auth_user_teams"() TO "service_role";



GRANT ALL ON FUNCTION "public"."get_my_teams"() TO "anon";
GRANT ALL ON FUNCTION "public"."get_my_teams"() TO "authenticated";
GRANT ALL ON FUNCTION "public"."get_my_teams"() TO "service_role";



GRANT ALL ON FUNCTION "public"."has_pending_invite"("check_team_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."has_pending_invite"("check_team_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."has_pending_invite"("check_team_id" "uuid") TO "service_role";



GRANT ALL ON FUNCTION "public"."is_team_owner"("check_team_id" "uuid") TO "anon";
GRANT ALL ON FUNCTION "public"."is_team_owner"("check_team_id" "uuid") TO "authenticated";
GRANT ALL ON FUNCTION "public"."is_team_owner"("check_team_id" "uuid") TO "service_role";



GRANT ALL ON TABLE "public"."budget_categories" TO "anon";
GRANT ALL ON TABLE "public"."budget_categories" TO "authenticated";
GRANT ALL ON TABLE "public"."budget_categories" TO "service_role";



GRANT ALL ON TABLE "public"."budgets" TO "anon";
GRANT ALL ON TABLE "public"."budgets" TO "authenticated";
GRANT ALL ON TABLE "public"."budgets" TO "service_role";



GRANT ALL ON TABLE "public"."categories" TO "anon";
GRANT ALL ON TABLE "public"."categories" TO "authenticated";
GRANT ALL ON TABLE "public"."categories" TO "service_role";



GRANT ALL ON TABLE "public"."expenses" TO "anon";
GRANT ALL ON TABLE "public"."expenses" TO "authenticated";
GRANT ALL ON TABLE "public"."expenses" TO "service_role";



GRANT ALL ON TABLE "public"."incomes" TO "anon";
GRANT ALL ON TABLE "public"."incomes" TO "authenticated";
GRANT ALL ON TABLE "public"."incomes" TO "service_role";



GRANT ALL ON TABLE "public"."investments" TO "anon";
GRANT ALL ON TABLE "public"."investments" TO "authenticated";
GRANT ALL ON TABLE "public"."investments" TO "service_role";



GRANT ALL ON TABLE "public"."profiles" TO "anon";
GRANT ALL ON TABLE "public"."profiles" TO "authenticated";
GRANT ALL ON TABLE "public"."profiles" TO "service_role";



GRANT ALL ON TABLE "public"."rate_limits" TO "anon";
GRANT ALL ON TABLE "public"."rate_limits" TO "authenticated";
GRANT ALL ON TABLE "public"."rate_limits" TO "service_role";



GRANT ALL ON TABLE "public"."subscriptions" TO "anon";
GRANT ALL ON TABLE "public"."subscriptions" TO "authenticated";
GRANT ALL ON TABLE "public"."subscriptions" TO "service_role";



GRANT ALL ON TABLE "public"."team_invites" TO "anon";
GRANT ALL ON TABLE "public"."team_invites" TO "authenticated";
GRANT ALL ON TABLE "public"."team_invites" TO "service_role";



GRANT ALL ON TABLE "public"."team_members" TO "anon";
GRANT ALL ON TABLE "public"."team_members" TO "authenticated";
GRANT ALL ON TABLE "public"."team_members" TO "service_role";



GRANT ALL ON TABLE "public"."team_roles" TO "anon";
GRANT ALL ON TABLE "public"."team_roles" TO "authenticated";
GRANT ALL ON TABLE "public"."team_roles" TO "service_role";



GRANT ALL ON TABLE "public"."teams" TO "anon";
GRANT ALL ON TABLE "public"."teams" TO "authenticated";
GRANT ALL ON TABLE "public"."teams" TO "service_role";



ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON SEQUENCES TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON FUNCTIONS TO "service_role";






ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "postgres";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "anon";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "authenticated";
ALTER DEFAULT PRIVILEGES FOR ROLE "postgres" IN SCHEMA "public" GRANT ALL ON TABLES TO "service_role";






